

@import url(animated.css);
/* Estilos generales */
* {
  padding:0;
  margin:0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* Estilos de inicio.php */
/* menu */
/***********************************************************************/

.menu-bar {
  display:none;
}
header {
  width: 100%;
}

header nav div.div-nav-logo{
  display: inline-block;
  width: 25%;
  position: relative;
}
header nav div.div-nav-menu{
  display: inline-block;
  width: 75%;
  float: right;
  position: relative;
  height: 50px;
}

header nav div a img{
  margin-left: 30px;
  width: 50px;
  height: 50px;
  padding: 4px 0px;
  filter: invert(100%);
}

header nav div a img:hover{
  width: 88px;
  height: 88px;
  padding: 3px 0px;
  filter: invert(100%);
  transition: all 0.5s;
}

header nav{
  background: rgb(1, 2, 15);
  z-index: 2000;
  width: 100%;
  position: fixed;
  border-bottom-right-radius: 20px;
  margin: 0 auto;
  height: 50px;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);

}

header nav ul {
  list-style: none;
}

header nav ul li {
  display: inline-block;
  position: relative;
  margin-left: 10px;
}

header nav ul li.submenu {
  display: inline-block;
  position: relative;
  margin-left: 40px;
}


header nav ul li a {
  color:rgb(92, 92, 97);
  display: block;
  text-decoration: none;
  padding: 10px;
  position: relative;
  height: 50px;
}

header nav ul li a:hover{
  text-decoration: none;
  color: rgb(255, 255, 255);
  transition: all 0.8s;
  background: rgb(17, 90, 128);
  border-bottom: 2px solid rgb(241, 166, 39);
}

header nav ul li a.home {
  color:rgb(92, 92, 97) !important;
  display: block;
  text-decoration: none;
  padding: 10px;
  position: relative;
  height: 50px;
}

header nav ul li a.home:hover{
  text-decoration: none;
  color: rgb(255, 255, 255) !important;
  transition: all 0.8s;
  background: rgb(17, 90, 128);
  border-bottom: 2px solid rgb(241, 166, 39);
}

header nav ul li a span {
  margin-right: 10px;
}

header nav ul li:hover .submenu-children {
  display:block;
}

header nav ul li .submenu-children {
  display:none;
  background: rgb(1, 2, 15);
  position: absolute;
  width: 150%;
  z-index: 1000;
}

header nav ul li .submenu-children li {
  display:block;
	overflow: hidden;
	border-bottom: 1px solid rgba(255,255,255,.5);
}

header nav ul li .submenu-children li a {
  display:block;
}

header nav ul li .caret {
	position: relative;
	top:3px;
	margin-left:10px;
	margin-right:0px;
}
header nav ul li:hover span {
  color: rgb(144, 144, 144);
  transition: all 2s;
}


/***********************************************************************/
/*Seccion presentacion*/
/***********************************************************************/

.sPresentacion{
  align-items: center;
  text-align: center;
  margin-top: 50px;
}

.imgPresentacion {

  width: 95%;
  height: 800px;
}
/***********************************************************************/

/* Estilos de index.php */
.fondoImg {
  height: 100%;
  width: 100%;
  position: fixed;
  margin: 0px;
  padding: 0px;
  -webkit-animation: desenfoque 4s;
  animation: desenfoque 4s;
}

.fdImg {
  width: 2%;
  height: 4%;
  margin-top: 18%;
  position: relative;
  -webkit-animation: transparencia 4s;
  animation: transparencia 4s;
  filter: sepia(60%);
  filter: opacity(.3);
  float: right;
}

.fdImg:hover{
  filter: opacity(.5);
}

.logoImg:hover{
  filter: sepia(100%);
}

.logoImg {
  height: 20%;
  width: 30%;
  position: relative;
  -webkit-animation: grises 4s;
  animation: grises 4s;
}


@-webkit-keyframes desenfoque{
  0%{filter: blur(8px);}
  25%{filter: blur(5px);}
  50%{filter: blur(3px);}
  100%{filter: blur(0px);}
}


@-webkit-keyframes grises{
  0%{filter: grayscale(100%);}
  25%{filter: grayscale(60%);}
  50%{filter: grayscale(40%);}
  100%{filter: grayscale(0%);}
}

@-webkit-keyframes transparencia{
  0%{filter: opacity(0);}
  25%{filter: opacity(.1);}
  50%{filter: opacity(.2);}
  100%{filter: opacity(.3);}
}
/*********************************************************/
/* Servicios*/
/**********************************************************/

 section div.section-start-1 {
  height: 800px;
  background-image: url(../img/section-1.png);
}


section .section-container-1{
  background-image: url(../img/section-container-1.jpg);
  background-repeat: no-repeat;
  background-size: 100% 800px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius:  20px;
  height: 800px;
  width: 80%;
  margin: 0px auto;
  padding-top: 120px;
}

section div.form-img img{
  width: 20%;
  height: 60px;
}

.form-contact{
  height: 500px;
  background-color: rgba(222, 222, 222, 0.2) !important;
  margin-right: 50px;
  border-radius: 10px;
  padding: 10px;
}

.form-contact:hover{
  background-color: rgba(222, 222, 222, 0.5) !important;
  transition: all 1s;
}

section div.section-start-2 {
 height: 800px;
 background-image: url(../img/fondo-section-2.jpg);
 background-size: auto 800px;
 background-repeat: no-repeat;
}

section div div.section-container-2 {
 height: 800px;
 width: 80%;
 margin: auto;
}
section div div.section-container-2 img{
 height: 550px;
 width: 75%;
 margin-top: 100px;
}

section div div.section-container-2 img.rounded-circle{
 height: 180px;
 width: 180px;
 margin: 10px 10px;
 filter: saturate(0.1);
}

section div div.section-container-2 img.rounded-circle:hover{
 height: 180px;
 width: 180px;
 margin: 10px 10px;
 transform: scale(1.8);
 transition: all 0.5s;
 z-index: 1000;
 -webkit-box-shadow: 25px 27px 16px -18px rgba(0,87,153,0.56);
 -moz-box-shadow: 25px 27px 16px -18px rgba(0,87,153,0.56);
 box-shadow: 25px 27px 16px -18px rgba(0,87,153,0.56);
  filter: saturate(1);
}

section div.container-2-col-2{
  background-image: url(../img/section-1.png);
  height: 750px;
}
.content-gallery-2{
  margin-top: 50px;
}
section .animate-section-2:hover {

}

section div .col{
  margin-left: 100px;
}

hr {
  margin: 0px;
}
section div.section-start-3 {
  height: 750px;
  background-image: url(../img/fondo-section-2.jpg);
  background-size: auto 800px;
  background-repeat: no-repeat;
}

div.content-gallery-3{
  margin-left: 300px;
}

div.section-container-3-video{
  height: 800px;
}

div.section-container-3-video video {
  margin-top: 40px;
}

div.section-container-3-video video:hover {
  transform: scale(1.2);
  transition: all 0.5s;
   z-index: 1000;
  -webkit-box-shadow: 25px 27px 16px -18px rgba(4, 4, 4, 0.56);
  -moz-box-shadow: 25px 27px 16px -18px rgba(4, 4, 4, 0.56);
  box-shadow: 25px 27px 16px -18px rgba(4, 4, 4, 0.56);
}


div.section-container-3-texto{
  height: 800px;
}
div.section-container-3-texto a img {

  width: 70%;
  height: 450px;
  margin-left: 20%;
  margin-top: 100px;
}

div.section-container-4{
  height: 300px;
}
div.section-container-4 img{
  margin-top: 60px;
  width: 30%;
  margin-left: 35%;
  height: 200px;
}

div.card-header {
  background-color: rgba(150, 0, 0, 0.84);
}

div h4.my-0 {
  color: white;
}

div.card:hover {
  transform: scale(1.1);
  transition: all 0.8s;
  z-index: 1000;
}

section div.section-start-5 {
 height: 800px;
 background-image: url(../img/fondo-section-2.jpg);
 background-size: auto 800px;
 background-repeat: no-repeat;
}

section div div.section-container-5 a img{
 height: 350px;
 width: 60%;
 margin-top: 250px;
 margin-left: 200px;
}

section .content-gallery-5 {
  width: 600px;
  margin: auto;
  margin-top: 120px;
  margin-left: 50px;
}
.row-user {
  display: flex;
}

section div div div.container-5-col-2 .col-1-3 {
  width: 66.67%;
}

section div div div.container-5-col-2 .col-2-3 {
  width: 33.33%;
}

.big img{
  height: 600px;
}

.small img{
  height: 300px;
}

.row-user img:hover{
  transform: scale(1.2);
  transition: all 0.5s;
   z-index: 1000;
  -webkit-box-shadow: 25px 27px 16px -18px rgba(4, 4, 4, 0.85);
  -moz-box-shadow: 25px 27px 16px -18px rgba(4, 4, 4, 0.85);
  box-shadow: 25px 27px 16px -18px rgba(4, 4, 4, 0.85);
  border-radius: 10px;
  border: 5px inset white;
}

footer {
  padding: 0;
  position: fixed;
  width: 85%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 50px;
  margin: 0px auto;
  background-color: rgb(1, 2, 15);
  bottom:0;
}

footer div.Autors{
  margin-left: 33%;
  margin-bottom: 0px;
}

footer div.Autors p{
  margin-bottom: 0px;
}

footer div.Autors:hover{
  margin-left: 35%;
  color: rgb(255, 255, 255);
  transition: all 1s;
}
footer div.social-networks {
  margin-left: 47%;
  margin-top: 2px;
}
footer a:hover {
    text-decoration: none;
}

@media screen and (max-width: 1380px) and (min-width: 900px){

  section div.section-start-1 {
   height: 550px;
 }

 section .section-container-1{
  background-size: 100% 650px;
  height: 650px;
  padding-top: 120px;
  }

  section div.section-start-2 {
   height: 650px;
   background-image: url(../img/fondo-section-2.jpg);
   background-size: auto 650px;
   background-repeat: no-repeat;
  }

  section div div.section-container-2 {
   height: 600px;
   width: 80%;
   margin: auto;
  }
  section div div.section-container-2 img{
   height: 350px;
   width: 75%;
   margin-top: 80px;
  }

  section div div.section-container-2 img.rounded-circle{
   height: 130px;
   width: 130px;
   margin: 5px 5px;
  }

  section div div.section-container-2 img.rounded-circle:hover{
   margin: 5px 5px;
   transform: scale(1.2);
   z-index: 1000;
  }

  section div.container-2-col-2{
    height: 550px;
  }

  section div .col{
    margin-left: 50px;
  }

  section div.section-start-3 {
    height: 650px;
    background-size: auto 650px;
  }

  div.content-gallery-3{
    margin-left: 180px;
  }

  div.section-container-3-video{
    height: 650px;
  }

  div.section-container-3-video video {
    margin-top: 40px;
  }


  div.section-container-3-texto{
    height: 650px;
  }
  div.section-container-3-texto a img {

    width: 70%;
    height: 350px;
    margin-top: 120px;
  }
  section div.section-start-5 {
   height: 650px;
   background-size: auto 650px;
  }

  section div div.section-container-5 a img{
   height: 250px;
   width: 50%;
   margin-top: 250px;
   margin-left: 200px;
  }

  section .content-gallery-5 {
    width: 500px;
    margin: auto;
    margin-top: 120px;
    margin-left: 0px;
  }
  .row-user {
    display: flex;
  }

  section div div div.container-5-col-2 .col-1-3 {
    width: 66.67%;
  }

  section div div div.container-5-col-2 .col-2-3 {
    width: 33.33%;
  }

  .big img{
    height: 400px;
    width: 100%;
  }

  .small img{
    height: 200px;
  }


  .row-user img:hover{
    transform: scale(1.2);
    transition: all 0.5s;
     z-index: 1000;
    -webkit-box-shadow: 25px 27px 16px -18px rgba(4, 4, 4, 0.85);
    -moz-box-shadow: 25px 27px 16px -18px rgba(4, 4, 4, 0.85);
    box-shadow: 25px 27px 16px -18px rgba(4, 4, 4, 0.85);
    border-radius: 10px;
    border: 5px inset white;
  }
  footer {
    padding: 0;
    position: fixed;
    width: 85%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 30px;
    margin: 0px auto;
    background-color: rgba(1, 2, 15,0.1);
    bottom:0;
  }

  footer:hover {
    background-color: rgba(1, 2, 15,1);
    transition: all 0.5s;

  }

  footer div.Autors{
    margin-left: 20px;
    margin-bottom: 0px;
    display: inline-block;
  }

  footer div.Autors p{
    margin-bottom: 0px;
  }

  footer div.Autors:hover{
    margin-left: 20px;
    color: rgb(255, 255, 255);
    transition: all 1s;
  }
  footer div.social-networks {
    margin-top: 2px;
    right: 0;
    display: inline-block;
  }
  footer a:hover {
      text-decoration: none;
  }
}



/************************************************************************/
/************************************************************************/
/* Moviles */
@media screen and (max-width: 930px){

body{
  padding-top: 60.5px;
}
  .menu-bar {
    display:inline-block;
    width: 100%;
    position: fixed;
    z-index: 1000;
    top: 0px;
    background: rgb(1, 2, 15);
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);

  }

  .menu-bar .bt-menu {
    display: inline-block;
    padding: 10px;
    margin-top: 5px;
    color: rgb(255, 255, 255);
    overflow: hidden;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
  }

  .menu-bar span {
    font-size: 20px;
    margin-top: 5px;
  }

  header nav ul li.submenu {
    display: block;
    margin-left: 0px;
  }
  .menu-bar img{
    float: right;
    margin-top: 8px;
    width: 40px;
    height: 40px;
    filter: invert(100%);
  }

  header nav {
    width: 100%;
    position: fixed;
    padding-top: 5px;
    height: calc(100% - 50px);
    margin: 0;
    right: 100%;
    border-bottom-right-radius: 0;
    overflow: scroll;
    background: rgba(1, 2, 15, 0.9);
  }


  header nav .div-nav-logo img{
  display: none;
  }
  header nav div.div-nav-menu{
  width: 100%;
  margin: 0;
  padding: 0;
  }
  header nav ul li {
    display: block;
    border-bottom: 1px solid rgba(32, 91, 223, 0.83);
    margin: 0;
  }

  header nav ul li a {
    display: block;
  }

  header nav ul li:hover .submenu-children{
    display: none;
  }

  header nav ul li .submenu-children {
    width: 100%;
    position: relative;
  }

  header nav ul li .submenu-children li{
      border-bottom: 1px solid rgba(32, 91, 223, 0.83);
  }

  header nav ul li .submenu-children li a{
      margin-left: 20px;
  }

  /* Servicios */
  .servicio {
    width: 99%;
    margin: 20px auto;
    height: 300px;
    position: relative;
    animation: movimiento 20s infinite;
    opacity: 0.9;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
  }

  .servicio h4 {
    font-size: 25px;
    float: left;
    padding: 260px 0px 0px 20px;
    color: rgba(255,255,255,0.7);
    animation: desenfoque 3s;
  }
  .s1{
    background-image: url(../img/servicio-1.jpg);
    background-size: 180%;
    position: relative;
  }
  .s2{
    background-image: url(../img/servicio-2.jpg);
    background-size: 180%;
        position: relative;
  }

  .tarifa {
    border-radius: 150px;
    background-color: rgba(21, 83, 7, 0.5);
    width: 100px;
    height: 100px;
    margin: 2px auto;
  }

  .tarifa img{
    width: 100%;
    height: 90%;
    padding-left: 15px;
    margin: 0 auto;
  }

  video {
      width: 20%;
      height: auto;
  }

}
